/* General */

nav {
    background-color: #ebebe0;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px #7c7c50 solid;
    border-radius: 20px;
}

a {
    color: #7c7c50;
    margin: 15px;
    font-family: "Germania One", serif;
    font-size: 1.25em;
}

a img {
    height: 50px;
}

section {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 25px auto;
}

section div {
    margin: 10px 20px 10px 20px;
    padding: 20px;
    width: 50%;
}

h1 {
    font-family: "New Rocker", serif;
    font-size: 2.5em;
}

h2 {
    font-family: "New Rocker", serif;
    font-size: 1.75em;
    color: #464646;
}

p, ul {
    font-family: "Public Sans", serif;
    text-align: justify;
}

footer {
    background-color: #ebebe0;
    padding: 20px;
    border-top: 3px #7c7c50 solid;
    font-family: "Public Sans", serif;
    font-size: 0.75em;
}

/* Specific class */

.espadaDescriptionImg {
    background-image: url("img/espadaDescription.jpg");
    background-size: cover;
    background-position: top;
}

.texteDeSectionGauche {
    border-bottom: 3px #7c7c50 solid;
    border-left: 3px #7c7c50 solid;
    border-radius: 20px;
}

.texteDeSectionDroite {
    border-bottom: 3px #7c7c50 solid;
    border-right: 3px #7c7c50 solid;
    border-radius: 20px;
}

.imgOken {
    background-image: url("img/logoOken.svg");
    background-size: cover;
    background-position: center;
}

.lienOken {
    align-self: center;
    justify-self: center;
}

.contactGrid {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr 1fr;   
    gap: 10px;                  
    width: 100%;                  
    max-width: 500px;             
}

.contactGrid > * {
    align-self: center;
}

.logoContactMail {
    background-image: url("img/logoMail.png");
}

.logoContactInstagram {
    background-image: url("img/logoInstagram.png");
}

.logoContactMail,
.logoContactInstagram {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px; 
    align-self: center; 
    justify-self: center; 
}

.espadaContactImg {
    background-image: url("img/espadaKatana.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lienGitHub {
    margin: 0px;
}

/* Pseudo class */

a:hover {
    opacity: 0.5;
}

/* Media Queries */

@media screen and (max-width: 1080px) {
        section div {
            width: 95%;
            margin: 25px auto;
        }

        .sectionPresentation,
        .sectionContacts {
            flex-direction: column;
        }

        .sectionOken {
            flex-direction: column-reverse;
        }

        .lienOken {
            text-align: center;
        }

        .espadaDescriptionImg,
        .imgOken,
        .espadaContactImg {
            min-height: 500px;
        }
    }

@media screen and (max-width: 480px) {
        nav {
            flex-direction: column;
        }
    }