nav {
    background-color: #ebebe0;
    position: fixed;
    width: 100%;
}

a {
    color: #7c7c50;
}

section {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}

section div {
    margin: 10px 20px 10px 20px;
}

.espadaDescriptionImg {
    width: 100%;
}